
body {
  background-image: linear-gradient(to right top, #d16ba5, #d983b8, #e19acb, #e9b1dc, #f2c7ec, #f6c6ed, #f9c6ef, #fdc5f0, #feace1, #ff90ce, #ff73b8, #ff509e);
  font-family: Arial, sans-serif;
}
.title{
  font-family: 'Tangerine', serif;
      font-size: 60px;
}
header {
  
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #ff69b4;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#proposal {
  padding: 20px;
}

#ring {
  padding: 20px;
}
#ring img{
  height: 1000px;
  width: auto;
  /* /* box-shadow: blac */
  /* box-shadow: 5px 10px #888888; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}
#answer {
  padding: 20px;

}

button {
  padding: 10px 30px;
  background-color: #ff69b4;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 90%;
  width: 300px;
  height: 40px;
  
}

#yes:hover {
  background-color: yellowgreen;
}
#no:hover{
  background-color: red;
}

#ihg{
  border-image: fill;
  height: auto;
  }

.background{
  z-index: 2;
  /* background-image: linear-gradient(to right top, #d16ba5, #d983b8, #e19acb, #e9b1dc, #f2c7ec, #f6c6ed, #f9c6ef, #fdc5f0, #feace1, #ff90ce, #ff73b8, #ff509e); */

  
}
.bgimg{
  background-image: url("images-removebg-preview.png");
  z-index: 2;
}
.hello{
  font-size: 48px;
  color: #48286b;
  font-weight: 800;
}